body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 10px;
}

#post {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 10px;
    width: 35%; 
}

#submit, #Author-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5px;
}

.Message {
    resize: none;
}

#button {
    width: 150px;
    height: 50px;
}

#Message {
    height: 10vh;
}

#post > * > * {
    margin: 10px;
}

#message_list {
    margin: auto;
    width: 30%;
}
#error_msg{
    text-align: center;
    color: red;
}
.post {
    list-style-type: none;
    gap: 3px;
    margin: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color:aquamarine;
    background-color:rgb(245, 245, 245);
}

.message {
    word-break: break-all;
}

.post > * {
    margin: 15px;
}

.checked {
    background-color: blueviolet;
}

.read {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 0, 123);
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}