body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 10px;
}

#post {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 10px;
}

#submit, #Author-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
